
## Name of the font to use for UI text
#ui_font Some Font Name
## Size of the UI font
font_size 13 


#Cyan
highlight_color_c	0 1 1

dark_mode_contrast		0.6


## Background color to use when executing `toggle_custom_color`
custom_background_color 0.95 0.96 0.78
## Text color to use when executing `toggle_custom_color`
custom_text_color 0.16 0.16 0.16


# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast			1.2


startup_commands    toggle_dark_mode
